<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}} | {{description}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	<link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('home.index', _external=True, _scheme=scheme)}}" id="baseurl">
							<i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
						</a>
					</li>
					{% if username and usergroup %}
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('contribs.index', _external=True, _scheme=scheme)}}">
							<i class="fa fa-bar-chart"></i> User contributions
						</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="https://meta.wikimedia.org/wiki/Trust_and_Safety" target="_blank">
							<i class="fa fa-users"></i> About T&S
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="container-fluid">
		<div class="row content">
			{% block content %}{% endblock %}
		</div>
		<br>
		<br>

	</div>
	<footer class="container footer">
		<hr class="featurette-divider">
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
					<a href="https://wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy</a> |
					<a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Terms of Use</a> |
					<a href="https://phabricator.wikimedia.org/maniphest/task/create/?projects=trust-and-safety">Report a bug!</a>
					</div>
					<div class="pull-right">
						Hosted on <a href="https://wikitech.wikimedia.org/wiki/Portal:Cloud_VPS">Wikimedia Cloud VPS</a>, written in <a href="https://python.org">Python</a> by <a href="https://meta.wikimedia.org/wiki/Samuel_(WMF)">Samuel (WMF)</a>
					</div>
				</div>
			</div>
		</div>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
	</footer>


</body>
</html>
