{% extends "base.html" %}
{% block content %}
<div class="container">
	<section id="contribs-form-wrapper">
		{% if not search %}
			<section  class="col-md-8 no-pad">
				<h1>User edits</h1>
				<form>
					<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control"
						id="username" name="username" value="Cruks">
					</div>
					<div class="form-group">
					<label for="wiki">Wiki:</label>
					<input type="text" class="form-control"
						id="wiki" name="wiki"  value="de.wikipedia.org"
						placeholder="de.wikipedia.org">
					</div>
					<div class="form-group" id="operations">
					{% if operation %}
					<!-- Default unchecked -->
					<select name = "operation" class="browser-default custom-select">
						<option selecte value="revert">Reverted edits</option>
						<option value="deletion">Deletes edits</option>
					</select>
					{% endif %}
					</div>
					<button id="btn-search" type="submit" class="btn btn-secondary"><i class="fa fa-search"></i> Search</button>
					<button id="btn-save" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
					<strong id="notification"></strong>
				</form>
			</section>
			<hr class="my-4">
		{% endif %}



		<h2>Results
			{% if search %}
			<a id="btn-reset" href="{{url_for('contribs.delete', id=search.doc_id)}}" class="btn btn-small btn-danger float-right">
				<i class="fa fa-remove"></i> Delete</a>
			{% else %}
			<a id="btn-reset" href="#" class="btn btn-small btn-danger float-right">
				<i class="fa fa-remove"></i> Reset</a>
			{% endif %}
		</h2>

		<table id="contribs-table" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Timestamp</th>
					<th>Revid</th>
					<th>User</th>
					<th>Title</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				{% if search %}
					{% for contrib in search.contribs %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{contrib.timestamp}}</td>
						<td>{{contrib.revid}}</td>
						<td>{{contrib.user}}</td>
						<td>{{contrib.title}}</td>
						<td>{{contrib.comment}}</td>
					</tr>
					{% endfor %}
				{% endif %}

			</tbody>
		</table>
	</section>
</div>
{% endblock %}
