{% extends "base.html" %}
{% block content %}
<div class="container">

	<div class="jumbotron">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead"></p>
		<p class="lead">{{description}}</p>
		{% if username %}
			<hr class="my-4">
			<p>Hello {{ username }}!</p>
			<p><a class="btn btn-primary btn-lg" href="{{ url_for('logout') }}">logout</a></p>
        {% else %}
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Log via Meta-wiki</a>
		</p>
        {% endif %}
	</div>
</div>
{% endblock %}
