{% extends "base.html" %}
{% block content %}
<div class="container">
	<section id="contribs-form-wrapper">

		<h2>Results</h2> 

		<table id="contribs-table" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Performer</th>
					<th>Timestamp</th>
					<th>Results</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody>
				{% if searches %}
					{% for search in searches%}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{search.username}}</td>
						<td>{{search.timestamp}}</td>
						<td>{{search.contribs|length}}</td>
						<td>
							<a href="{{url_for('contribs.view', id=search.doc_id)}}" 
								class="float-left" 
								title="Result collected by {{search.username}}">
								{{url_for('contribs.view', id=search.doc_id)}}
							</a>
						</td>
					</tr>
					{% endfor %}
				{% endif %}
				
			</tbody>
		</table>
	</section>
</div>
{% endblock %}
